<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webSocket_02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerryAllFriend</display-name>
    <servlet-name>QuerryAllFriend</servlet-name>
    <servlet-class>com.bjq.serverlet.QuerryAllFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerryAllFriend</servlet-name>
    <url-pattern>/QuerryAllFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriend</display-name>
    <servlet-name>DeleteFriend</servlet-name>
    <servlet-class>com.bjq.serverlet.DeleteFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriend</servlet-name>
    <url-pattern>/DeleteFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserByNo</display-name>
    <servlet-name>QueryUserByNo</servlet-name>
    <servlet-class>com.bjq.serverlet.QueryUserByNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserByNo</servlet-name>
    <url-pattern>/QueryUserByNo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsUserServlet</display-name>
    <servlet-name>IsUserServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.IsUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsUserServlet</servlet-name>
    <url-pattern>/IsUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriendServlet</display-name>
    <servlet-name>DeleteFriendServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.DeleteFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendServlet</servlet-name>
    <url-pattern>/DeleteFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroupServlet</display-name>
    <servlet-name>AddGroupServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.AddGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroupServlet</servlet-name>
    <url-pattern>/AddGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroupServlet</display-name>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>com.bjq.serverlet.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/CreateGroupServlet</url-pattern>
  </servlet-mapping>
</web-app>